<h1><%=@book.name%></h1>
<h3><%=@book.description%></h3>
<h3>Here are your saved recipes for <%=@book.name%>:</h3>
<% @book.recipes.all.each do |recipe| %>
    <ul>
        <li><a href=<%=recipe.url_location%>><%= recipe.name %></a>
        <form action="/recipes/<%= recipe.id%>" method="post">
        <input type="hidden" name="_method" value="delete">

        <input type="submit" value="Delete Recipe">
        </form></li>
    </ul>
<% end %>

<h3>Create a New Recipe</h3>

<form action="/recipes" method="post">
<p>Name: <input type="text" name="name"></p>
<p>Link: <input type="text" name="url_location"></p>
<input type="hidden" name="recipe_book_id" value=<%=@book.id%>>
<input type='submit' value='Create'>
</form>


<a href="/users/<%=current_user.id%>">Return to Your Homepage</a>